// Colors
$color-primary: #9303A7;
$color-primary-light: #da04cf ;
$color-primary-dark: #8106A9 ;

$color-secondary: #777;
$color-secondary-light: #f7f7f7;
$color-secondary-light-2: #eee;

$color-tertiary: #fff;
$color-black: #000;

$grid-color-primary: orange;
$grid-color-secondary: #eee;

$color-card-primary-light: #ffb900;
$color-card-primary-dark: #ff7730;

$color-card-secondary-light: #7ed56f;
$color-card-secondary-dark: #28b485;

$color-card-tertiary-light: #2998ff;
$color-card-tertiary-dark: #5643fa;

// Fonts
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;