// Colors
$color-primary: #9303A7;
$color-primary-light: #AA00A2 ;
$color-primary-dark: #8106A9 ;

$color-secondary: #777;
$color-secondary-light: #f7f7f7;


$color-tertiary: #fff;
$color-black: #000;

$grid-color-primary: orange;
$grid-color-secondary: #eee;

// Fonts
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
   